credentials.properties
credentials.py

*.properties
*.txt
*.vsidx
Output\*.csv
Output\DELETE\*.csv
Output\INSERT\*.csv
Output\UPDATE\*.csv
Output\UPSERT\*.csv
**/Output/
*.wsuo
*.json
*.pyc
*.sqlite
*.pem
*.so
*.exe
*.html
*.hcl
*.yml
*.rst
*.zip
*.index
**/aws/
**/.terraform/
*.sqlite
*.tfstate
*.TMP
*.backup
*.bin
